<body style= "background-color:#daf1eb;">

<div style="font-family:verdana;  
   
    background-color: #efe1ff;
    text-color:black;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 15px;
    border-style:outset;
    padding: 20px;
" >
  <h1 style= "text-align:center"><mark>Edit Your Details</mark></h1>
  <%= form_for :article, url: article_path , method: :patch  do |f|%>

  <p style="text-align:left">
    <%=f.label :Title %><br>
    <%=f.text_field :title%>
  </p>
<p style="text-align:left">
    <%=f.label :text%><br>
    <%=f.text_area :text%>
  </p>


<p style="text-align:left">
    <%=f.submit :Submit %>
     </p>

<%end%>
</div>

</body>