<body style= "background-color:#daf1eb;">

<div style="font-family:verdana;	
   
    background-color:  #efe1ff;
       text-color:black;
    
    padding: 10px;
">
<p style="text-align:left">
<strong>Blogger's Name: </strong>
<mark><%= @name.name%></mark>
</p>

<p style="text-align:left">
<strong>Title: </strong>
<mark><%= @article.title%></mark>
</p>

<p style="text-align:left">
<strong>Text</strong>
<mark><%= @article.text%></mark>
</p>


<h3>Hit like</h3>
<p>
<%= button_to "Like", :controller =>"likes", :action => "create" %>
</p>

<%=link_to 'All Articles', articles_path%>


<h2>Comments</h2>
<% @comment.each do |comment| %>
  <%comment.user_id%>
  <%@commenter=User.find_by(id: comment.user_id)%>

  
    
    <h3><%= @commenter.name %></h3>
  
 
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>
<% end %>


 <h2>Add a comment:</h2>
<%= form_for :comments, url: comments_path do |f| %>
  <p>
    <%=f.label :CommentBelow%><br>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit :Done %>
  </p>
<% end %>

</div>
</body>